<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.eduecon">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon_kotak"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EduEcon">
        <activity android:name=".UI.Quiz.ResultActivity"/>
        <activity android:name=".UI.Quiz.QuizActivity" />
        <activity android:name=".UI.Course.PengelolaanBadanUsahadanPerannyaActivity" />
        <activity android:name=".UI.Course.ManajemenActivity" />
        <activity android:name=".UI.Course.PerkoperasianActivity" />
        <activity android:name=".UI.Course.KonsepBadanUsahaActivity" />
        <activity android:name=".UI.Course.BankSentralActivity" />
        <activity android:name=".UI.Course.PasarModalActivity" />
        <activity android:name=".UI.Course.StrukturPasarActivity" />
        <activity android:name=".UI.Course.AlatPembayaranActivity" />
        <activity android:name=".UI.Course.LembagaJasaKeuanganActivity" />
        <activity android:name=".UI.Course.KeseimbanganPasarActivity" />
        <activity android:name=".UI.Course.PermintaandanPenawaranActivity" />
        <activity android:name=".UI.Course.SistemPembayaranActivity" />
        <activity android:name=".UI.Course.DistribusiDanKonsumsiActivity" />
        <activity android:name=".UI.Course.ProduksiKegiatanEkonomiActivity" />
        <activity android:name=".UI.Course.SistemEkonomiActivity" />
        <activity android:name=".UI.Course.MasalahEkonomiActivity" />
        <activity android:name=".UI.Course.BumnBumsBumdActivity" />
        <activity android:name=".UI.Course.IlmuEkonomiActivity" />
        <activity android:name=".UI.ui.GetStartedActivity" />
        <activity android:name=".UI.ui.ViewPagerActivity" />
        <activity android:name=".UI.Ebook.EbookViewActivity" />
        <activity android:name=".UI.ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.ui.MainActivity" />
    </application>

</manifest>